body {
    margin-top: 3em;
}

#button-container {
    width: 60%;
    
}

#dice-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.container-fluid {
    padding: 0;
}


.die{
    width: 100px;
    height: 100px;
    margin: 1rem;
    border: 1px solid black;
    display:inline-block;
    text-align: center;
    font-size: 70px;
    line-height: .65;
    cursor: pointer;
}